@font-face {
  font-family: downloadedMonaco;
  src: url(monaco.ttf);
}

html, body {
  position: relative;
  background: #222;
  padding: 0;
  margin: 0;
  border: 0;
  color: #fff;
  font-size: 140%;
}

@media (min-device-width: 832px) {
  html, body {
    font-size: 100%;
  }
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #fff;
}

div.projectwrapper {
  position: relative;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

div.header {
  background: rgba(64, 64, 64, 0.75);
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  border: 0;
  text-align: center;
  font-family: downloadedMonaco;
  font-size: 2em;
}

div.project {
  position: relative;
  width: 24em;
  height: 18em;
  margin: 1em;
  border-radius: 25px;
  font-family: downloadedMonaco;
}

div.projectimage {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

div.projectheader {
  position: absolute;
  width: 100%;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: rgba(64, 64, 64, 0.75);
  font-size: 1.25em;
  font-family: downloadedMonaco;
}

div.projectdescription {
  position: absolute;
  bottom: 0em;
  width: 100%;
  min-height: 4em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background: rgba(64, 64, 64, 0.5);
  color: #aaa;
  font-family: downloadedMonaco;
}
